<div class="canvas-container">
  <div class="canvas-wrapper">
    <canvas #threeCanvas class="webgl" [class.invisible]="skinRunning"></canvas>

    <canvas
      #skinCanvas
      class="webgl skin-canvas"
      [class.invisible]="!skinRunning"
    ></canvas>
  </div>

  <div class="button-container">
    <button   *ngIf="!router.url.includes('landing')" (click)="resetView()" class="bottom-button">
      Resetear posición
    </button>
  </div>
  <!-- <div class="button-container" *ngIf="!router.url.includes('landing')">
  <button class="btn-class-name" (click)="resetView()" title="Resetear posición">
    <span class="back"></span>
    <span class="front">↺</span>
  </button>
</div> -->

</div>
