<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="canvas-container">
        <!-- Canvas para Three.js -->
        <canvas #webglCanvas class="webgl"></canvas>
        
        <!-- Canvas para engine/index.js -->
        <canvas id="canvas" style="display: none;"></canvas>
        
        <!-- Botones para cambiar entre motores -->
        <div class="botones-container">
            <button class="boton three-button">Three</button>
            <button class="boton tag-button">TAG</button>
        </div>
    </div>
</body>
</html>


