<header class="vv-global-header">
  <span class="vv-global-logo" (click)="irA('/modos')">
    <span class="lg-negro">Visual</span><span class="lg-azul">V</span><span class="lg-amarillo">oi</span><span class="lg-verde">c</span><span class="lg-lila">es</span>
  </span>
  <nav class="vv-global-nav">
    <a routerLink="/modos">Inicio</a>
    <a routerLink="/perfil">Mi progreso</a>
    <a routerLink="/ajustes">Ayuda</a>
  </nav>
  <button class="vv-global-avatar" (click)="irA('/perfil')">{{ inicialesUsuario }}</button>
</header>