<h2>Restablecer contraseña</h2>
<form (ngSubmit)="resetearPassword()">
  <input
    type="password"
    placeholder="Nueva contraseña"
    [(ngModel)]="nuevaPassword"
    name="nuevaPassword"
    required
  />
  <input
    type="password"
    placeholder="Confirmar contraseña"
    [(ngModel)]="confirmarPassword"
    name="confirmarPassword"
    required
  />
  <button type="submit">Actualizar Contraseña</button>
  <p *ngIf="error" style="color:red;">{{ error }}</p>
  <p *ngIf="success" style="color:green;">{{ success }}</p>
</form>
